In [1]:
cols=int(input('Enter nos of columns'))
rows=int(input('Enter nos of rows'))
for row in range(0,rows):
    for col in range(0,cols):
        print("* ",end="")
    print()

Enter nos of columns 5
Enter nos of rows 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [2]:
for i in range (4):
    if i==0 or i==3:
        print("* "*5)
    else:
        print("* ",end="")
        for j in range(3):
            print("  ",end="")
        print("* ")

* * * * *
*       *
*       *
* * * * *

In [40]:
rows=int(input("Enter numbers of rows : "))
col=1
for row in range (0,rows):
    for cols in range (0,col):
        print ("*",end="")
    print("")
    col+=1

Enter numbers of rows :  5

*
**
***
****
*****

In [41]:
rows=int(input("Enter numbers of rows : "))
col=1
for row in range (0,rows):
    for cols in range (0,col):
        print ("*",end="")
    print("")
    col+=1

Enter numbers of rows :  10

*
**
***
****
*****
******
*******
********
*********
**********