In [1]:
import pymongo
client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')
mydb=client['Employees']
empinfo=mydb.employeeinformation

In [2]:
record = {
    'firstname': 'Animesh',
    'lastname': 'Kumar',
    'department': 'Quant',
    'qualification': 'BE',
    'age': 29
}

empinfo.insert_one(record)

InsertOneResult(ObjectId('6589c4ca58e2a8fb00a828da'), acknowledged=True)

In [3]:
records = [{
    'firstname': 'Animesh',
    'lastname': 'Kumar',
    'department': 'Quant',
    'qualification': 'Engineering',
    'age': 20
},{
    'firstname': 'Ani',
    'lastname': 'Kr',
    'department': 'Quant',
    'qualification': 'BE',
    'age': 25
},{
    'firstname': 'Mohit',
    'lastname': 'Kumar',
    'department': 'Quant',
    'qualification': 'BE',
    'age': 22
}]

In [4]:
empinfo.insert_many(records)

InsertManyResult([ObjectId('6589c4ca58e2a8fb00a828db'), ObjectId('6589c4ca58e2a8fb00a828dc'), ObjectId('6589c4ca58e2a8fb00a828dd')], acknowledged=True)

In [5]:
#Simple way of querying
empinfo.find_one()

{'_id': ObjectId('6589c4ca58e2a8fb00a828da'),
 'firstname': 'Animesh',
 'lastname': 'Kumar',
 'department': 'Quant',
 'qualification': 'BE',
 'age': 29}

In [6]:
#select * from employee information
for record in empinfo.find():
    print(records)

[{'firstname': 'Animesh', 'lastname': 'Kumar', 'department': 'Quant', 'qualification': 'Engineering', 'age': 20, '_id': ObjectId('6589c4ca58e2a8fb00a828db')}, {'firstname': 'Ani', 'lastname': 'Kr', 'department': 'Quant', 'qualification': 'BE', 'age': 25, '_id': ObjectId('6589c4ca58e2a8fb00a828dc')}, {'firstname': 'Mohit', 'lastname': 'Kumar', 'department': 'Quant', 'qualification': 'BE', 'age': 22, '_id': ObjectId('6589c4ca58e2a8fb00a828dd')}]
[{'firstname': 'Animesh', 'lastname': 'Kumar', 'department': 'Quant', 'qualification': 'Engineering', 'age': 20, '_id': ObjectId('6589c4ca58e2a8fb00a828db')}, {'firstname': 'Ani', 'lastname': 'Kr', 'department': 'Quant', 'qualification': 'BE', 'age': 25, '_id': ObjectId('6589c4ca58e2a8fb00a828dc')}, {'firstname': 'Mohit', 'lastname': 'Kumar', 'department': 'Quant', 'qualification': 'BE', 'age': 22, '_id': ObjectId('6589c4ca58e2a8fb00a828dd')}]
[{'firstname': 'Animesh', 'lastname': 'Kumar', 'department': 'Quant', 'qualification': 'Engineering', 'age': 20, '_id': ObjectId('6589c4ca58e2a8fb00a828db')}, {'firstname': 'Ani', 'lastname': 'Kr', 'department': 'Quant', 'qualification': 'BE', 'age': 25, '_id': ObjectId('6589c4ca58e2a8fb00a828dc')}, {'firstname': 'Mohit', 'lastname': 'Kumar', 'department': 'Quant', 'qualification': 'BE', 'age': 22, '_id': ObjectId('6589c4ca58e2a8fb00a828dd')}]
[{'firstname': 'Animesh', 'lastname': 'Kumar', 'department': 'Quant', 'qualification': 'Engineering', 'age': 20, '_id': ObjectId('6589c4ca58e2a8fb00a828db')}, {'firstname': 'Ani', 'lastname': 'Kr', 'department': 'Quant', 'qualification': 'BE', 'age': 25, '_id': ObjectId('6589c4ca58e2a8fb00a828dc')}, {'firstname': 'Mohit', 'lastname': 'Kumar', 'department': 'Quant', 'qualification': 'BE', 'age': 22, '_id': ObjectId('6589c4ca58e2a8fb00a828dd')}]

In [7]:
## query the json documents based on equality condtions
#slect * from emloyeeinformation where first name = Animesh
for records in empinfo.find({'firstname':'Ani'}):
    print(records)

{'_id': ObjectId('6589c4ca58e2a8fb00a828dc'), 'firstname': 'Ani', 'lastname': 'Kr', 'department': 'Quant', 'qualification': 'BE', 'age': 25}

In [8]:
#3 qury doument using query operaors($in,$lt,$gt)
for records in empinfo.find({'qualification':{'$in':['BE','Engineering']}}):
    print(records)

{'_id': ObjectId('6589c4ca58e2a8fb00a828da'), 'firstname': 'Animesh', 'lastname': 'Kumar', 'department': 'Quant', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('6589c4ca58e2a8fb00a828db'), 'firstname': 'Animesh', 'lastname': 'Kumar', 'department': 'Quant', 'qualification': 'Engineering', 'age': 20}
{'_id': ObjectId('6589c4ca58e2a8fb00a828dc'), 'firstname': 'Ani', 'lastname': 'Kr', 'department': 'Quant', 'qualification': 'BE', 'age': 25}
{'_id': ObjectId('6589c4ca58e2a8fb00a828dd'), 'firstname': 'Mohit', 'lastname': 'Kumar', 'department': 'Quant', 'qualification': 'BE', 'age': 22}

In [16]:
# Using 'and' query operators , $lt less than operator
for records in empinfo.find({'qualification': 'BE', 'age': {'$lt': 30}}):
    print(records)

{'_id': ObjectId('6589c4ca58e2a8fb00a828da'), 'firstname': 'Animesh', 'lastname': 'Kumar', 'department': 'Quant', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('6589c4ca58e2a8fb00a828dc'), 'firstname': 'Ani', 'lastname': 'Kr', 'department': 'Quant', 'qualification': 'BE', 'age': 25}
{'_id': ObjectId('6589c4ca58e2a8fb00a828dd'), 'firstname': 'Mohit', 'lastname': 'Kumar', 'department': 'Quant', 'qualification': 'BE', 'age': 22}

In [22]:
# or operator
for records in empinfo.find({'$or':[{'firstname':'Animesh'},{'qualification':'BE'}]}):
    print(records)

{'_id': ObjectId('6589c4ca58e2a8fb00a828da'), 'firstname': 'Animesh', 'lastname': 'Kumar', 'department': 'Quant', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('6589c4ca58e2a8fb00a828db'), 'firstname': 'Animesh', 'lastname': 'Kumar', 'department': 'Quant', 'qualification': 'Engineering', 'age': 20}
{'_id': ObjectId('6589c4ca58e2a8fb00a828dc'), 'firstname': 'Ani', 'lastname': 'Kr', 'department': 'Quant', 'qualification': 'BE', 'age': 25}
{'_id': ObjectId('6589c4ca58e2a8fb00a828dd'), 'firstname': 'Mohit', 'lastname': 'Kumar', 'department': 'Quant', 'qualification': 'BE', 'age': 22}

In [24]:
inventory = [
    { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
    { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
    { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
    { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
    { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]

mydb.inventory.insert_many(inventory)

InsertManyResult([ObjectId('6589c75e58e2a8fb00a828de'), ObjectId('6589c75e58e2a8fb00a828df'), ObjectId('6589c75e58e2a8fb00a828e0'), ObjectId('6589c75e58e2a8fb00a828e1'), ObjectId('6589c75e58e2a8fb00a828e2')], acknowledged=True)

In [28]:
for x in mydb.inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(x)

{'_id': ObjectId('6589c75e58e2a8fb00a828de'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}